body {
    color: #222;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
}

div#header {
    margin-bottom: 10px;
}

div#header table {
    width: 100%;
    border-spacing: 0;
}

div#header td {
    background-color: #CDD;
    border-bottom: 1px solid #D3D3D3;
    padding: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.8em;
}

div#header td.logo {
    width: 25%;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
}

@media only screen and (max-device-width: 1000px) {
    body {
        font-size: 20px;
    }

    div#header td.logo {
        font-size: 22px;
    }
}

div#header td.logo a {
    color: #222;
    text-decoration: none;
}

div#header td.navigation {
    width: 50%;
    text-align: center;
    background-color: #333;
    border: 1px solid #777;
    border-top: none;
}

div#header td.navigation a {
    width: 25%;
    color: white;
    margin-left: 1em;
    text-transform: uppercase;
}

div#header td.chalmers {
    text-align: right;
}

div#footer {
    border-top: solid 2px #222;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    color: #222;
    font-size: 24px;
}

h2 {
    color: #222;
    font-size: 20px;
}

div#content {
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
    max-width: 65em;
    margin: auto;
    padding: 0.5em;
}
